# Copy file này thành .env và điền giá trị thật
VITE_FIREBASE_API_KEY=AIzaSyBqPJFrtBbEVpj0MjOFu0XneoowujBUjq0
VITE_FIREBASE_AUTH_DOMAIN=toolmoniq.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=toolmoniq
VITE_FIREBASE_APP_ID=1:479783660981:web:00bf56b702688a1309bdfc
VITE_FIREBASE_MESSAGING_SENDER_ID=479783660981
VITE_FIREBASE_STORAGE_BUCKET=toolmoniq.firebasestorage.app
VITE_MONIQ_INTERVAL_SEC=60
# URL biểu đồ nến Moniq (iframe)
VITE_MONIQ_CHART_URL=https://moniq3.com/user/trade